*{
    margin: 2%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #D9D9D9;
}

.container{
    display: flex;
    align-items: center;
    margin: 2rem;
    border-radius: 10px;
}

li{
    font-size: large;
    text-shadow: 0 0 black;
}

img{
    width: 45%;
    height: auto;
}
@media (max-width: 992px) {
    .container{
        display: flex;
        flex-direction: column;
    }
    img{
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
}

