*{
    font-family: 'Poppins', sans-serif;
}

.container{
    display: flex;
    align-items: center;
    width: 98.8vw;
    max-width: none !important;
    margin: 0 !important;
    background-image: url(../assets/ImgSobreNosotros.png);
    background-position: center;
    background-size: cover;
}

.interno{
    display: flex;
    flex-direction: column;
    max-width: 50%;
}




li{
    font-size: large;
    color:white;
}
p{
    color: white;
    font-size: x-large;
    padding: 2px;
}
h1{
    color: white;
    font-size: 3.5em;
    margin-bottom: 20px;
    text-shadow: blue 0px 0px 5px;
}

img{
    width: 45%;
    height: auto;
}




/* boron de contacto */
app-booton-contactanos{
    margin: 20px;
}


.botones{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.b-proyectos{
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 16px;
    padding: 10px 20px;
    font-size: large;
    cursor: pointer;
    margin-right: 10px;

}


@media screen and (max-width: 450px) {
    .container{
        display: flex;
        flex-direction: column;
        width: 100vw;
    }
    img{
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
}

