h1{
    margin-top: 20px;
    margin-bottom: 5px;
}


.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

div.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}


.card{
    width: 15rem;
    box-shadow: 0px 0px 20px 4px #e6e6e6;
    border-color: transparent;
}
