:host {
  display: flex;
  align-items: center; /* centra verticalmente */
  gap: 1rem;
  padding: 1rem 1.5rem;
  background: #010810;
  color: #fff;
}



/* contenedor central que centra su contenido */
.footer-content {
  flex: 1; /* ocupa el espacio restante */
  display: flex;
  flex-direction: column;
  align-items: center; /* centra horizontalmente el botón y el texto */
  justify-content: center;
  z-index: 1; /* para que esté por encima del fondo */
}

/* texto del footer */
.textfooter {
  text-align: center;
  color: white;
  font-size: 0.9rem;
  margin: 0.5rem 0 0 0;
  text-shadow: blue 0px 0px 5px;
  z-index: 2;
}



/* responsive: en pantallas pequeñas apilar vertical y centrar todo */
@media (max-width: 450px) {
  :host {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: auto;
  }
  .footer-logo {
    margin-bottom: 0.5rem;
    max-width: 160px;
  }
  .footer-content {
    align-items: center;
  }
}
