:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
* {
  background-color: #fefefe;
}
app-barra-de-navegacion {
  background-color: #010810;
}

.main-content {
  flex: 1 0 auto; /* ocupa el espacio restante */
}



